
body {
	background-blend-mode: overlay;
}

html {
  overflow-y: scroll;
}
a .back-to-home {
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 20px;
	top: 20px;
	background: url("../images/arrow.png") no-repeat center 43%;
	background-size: 40px 40px;
	opacity: 0.8;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}	

a .back-to-home:hover {
	opacity: 0.5;
}

.container { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;	
}
 
#filters {
	font-family: 'Montserrat', serif;
	margin:1%;
	margin-left:6%;
	margin-top:5%;
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:black;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: gray;
		color:#fff;
	}

#portfoliolist {
	margin-left: 5%;
	font-family: 'Open Sans', serif;
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:350px;
	margin:1% 1% 1% 1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: white;
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0px;
		opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	}
	
	.portfolio img:hover {
		opacity: .7;
	}

	.portfolio .label {
		position: absolute;
		width: 100%;
		height:30px;
		bottom:0px;
	}

		.portfolio .label-bg {
			background: rgba(137,137,137,0.85);
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 9px;
			font-size:14px;
		}

	.portfolio .label-text2 {
		z-index:555;
		position: absolute;
		width: 100%;
		height: 25px;
		padding: 5px 12px 0px 12px;
		background: rgba(137,137,137,0.8);
		font-size:15px;
		font-style:italic;
		color:white;
		top:0px;
		left: 0px;
	}

	.VRAR .portfolio-wrapper {
		background: rgba(69,140,204,0.85);
	}
	.CREATIVE .portfolio-wrapper{
		background: rgba(96,92,168,0.85);
	}
	.DESIGN .portfolio-wrapper{
		background: rgba(244,152,157,0.85);
	}
	.ENTRE .portfolio-wrapper{
		background: rgba(251,174,92,0.85);
	}
	.COMP .portfolio-wrapper{
		background: rgba(237,126,118,0.85);
	}
	.FILM .portfolio-wrapper{
		background: rgba(5,168,170,0.85);
	}

	.VRAR .label-bg{
		background: rgba(69,140,204,0.85);
	}
	.CREATIVE .label-bg{
		background: rgba(96,92,168,0.85);
	}
	.DESIGN .label-bg{
		background: rgba(244,152,157,0.85);
	}
	.ENTRE .label-bg{
		background: rgba(251,174,92,0.85);
	}
	.COMP .label-bg{
		background: rgba(237,126,118,0.85);
	}
	.FILM .label-bg{
		background: rgba(5,168,170,0.85);
	}

	#filters .VRAR:hover {
		background: rgba(69,140,204,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .CREATIVE:hover {
		background: rgba(96,92,168,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .DESIGN:hover {
		background: rgba(244,152,157,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .ENTRE:hover {
		background: rgba(251,174,92,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .COMP:hover {
		background: rgba(237,126,118,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .FILM:hover {
		background: rgba(5,168,170,1);
		color:#fff;
		transition: background .2s ease-in;
	}

	#filters .VRAR.active {
		background: rgba(69,140,204,1);
		color:#fff;
	}
	#filters .CREATIVE.active {
		background: rgba(96,92,168,1);
		color:#fff;
	}
	#filters .DESIGN.active {
		background: rgba(244,152,157,1);
		color:#fff;
	}
	#filters .ENTRE.active {
		background: rgba(251,174,92,1);
		color:#fff;
	}
	#filters .COMP.active {
		background: rgba(237,126,118,1);
		color:#fff;
	}
	#filters .FILM.active {
		background: rgba(5,168,170,1);
		color:#fff;
	}


	#filters .selected{
		border-right: 1px solid gray;
	}
	#filters .all{
		border-right: 1px solid gray;
	}
	#filters .VRAR{
		border-right: 1px solid rgba(69,140,204,1);
	}
	#filters .CREATIVE{
		border-right: 1px solid rgba(96,92,168,1);
	}
	#filters .DESIGN{
		border-right: 1px solid rgba(244,152,157,1);
	}
	#filters .ENTRE{
		border-right: 1px solid rgba(251,174,92,1);
	}
	#filters .COMP{
		border-right: 1px solid rgba(237,126,118,1);
	}
	#filters .FILM{
		border-right: 1px solid rgba(5,168,170,1);
	}

  .main {
  	width: auto;
  	margin: 0 auto;
  }

@media only screen and (min-width: 1820px) {
	.main {
		margin-left: 17vw;
		margin-right: 17vw;
	}
}

@media only screen and (min-width: 1500px)  and (max-width: 1820px) {
	.main {
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

  /* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1500px) {
	.main {
		margin-left: 7vw;
		margin-right: 7vw;
	}

	#portfoliolist .portfolio {
		width:28%;
		margin:1%;
	}	

}

@media only screen and (min-width: 768px) and (max-width: 1100px) {

	#filters {
		font-size: 1.4vw;
	}
	.text-title {
		font-size: 1.4vw;
	}

		#portfoliolist .portfolio {
		width:30%;
		margin:1%;
	}		
}

@media only screen and (min-width: 768px) and (max-width: 910px) {

	#filters {
		font-size: 1.2vw;
	}
	.text-title {
		font-size: 1.2vw;
	}

		#portfoliolist .portfolio {
		width:30%;
		margin:1%;
	}		
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 768px) {

	#portfoliolist .portfolio {
		width:45%;
		margin:1%;
	}		
}

@media only screen and (max-width: 520px){
	
	#filters {
		font-size: 11px;
	}
	.text-title {
		font-size: 11px;
	}		
}