
body {
	background-blend-mode: overlay;
}

html {
  overflow-y: scroll;
}
a.back-to-home {
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 20px;
	top: 20px;
	background: url("../images/arrow.png") no-repeat center 43%;
	background-size: 40px 40px;
	opacity: .8;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}	
.container { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;	
}
 
#filters {
	font-family: 'Arapey', serif;
	font-style: italic;
	margin:1%;
	margin-left:6%;
	margin-top:5%;
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:black;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: gray;
		color:#fff;
	}

#portfoliolist {
	margin-left: 5%;
	font-family: 'Cormorant Infant', serif;
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:265px;
	margin:1% 1% 1% 1%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: white;
		cursor:pointer;
	}

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0px;
			opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	}
	
	.portfolio img:hover {
		opacity: .7;
	}

	.portfolio .label {
		position: absolute;
		width: 100%;
		height:30px;
		bottom:0px;
	}

		.portfolio .label-bg {
			background: rgba(137,137,137,0.85);
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
			font-size:15px;
		}

	.portfolio .label-text2 {
		z-index:555;
		position: absolute;
		width: 100%;
		height: 25px;
		padding: 5px 12px 0px 12px;
		background: rgba(137,137,137,0.8);
		font-size:15px;
		font-style:italic;
		color:white;
		top:0px;
		left: 0px;
	}

	.program .portfolio-wrapper {
		background: rgba(69,140,204,0.85);
	}
	.product .portfolio-wrapper{
		background: rgba(96,92,168,0.85);
	}
	.film .portfolio-wrapper{
		background: rgba(251,174,92,0.85);
	}
	.design .portfolio-wrapper{
		background: rgba(244,152,157,0.85);
	}


	.program .label-bg{
		background: rgba(69,140,204,0.85);
	}
	.product .label-bg{
		background: rgba(96,92,168,0.85);
	}
	.film .label-bg{
		background: rgba(251,174,92,0.85);
	}
	.design .label-bg{
		background: rgba(244,152,157,0.85);
	}


	#filters .program.active {
		background: rgba(69,140,204,1);
		color:#fff;
	}
	#filters .product.active {
		background: rgba(96,92,168,1);
		color:#fff;
	}
	#filters .design.active {
		background: rgba(244,152,157,1);
		color:#fff;
	}
	#filters .film.active {
		background: rgba(251,174,92,1);
		color:#fff;
	}


	#filters .selected{
		border-right: 1px solid gray;
	}
	#filters .all{
		border-right: 1px solid gray;
	}
	#filters .program{
		border-right: 1px solid rgba(69,140,204,1);
	}
	#filters .product{
		border-right: 1px solid rgba(96,92,168,1);
	}
	#filters .design{
		border-right: 1px solid rgba(244,152,157,1);
	}
	#filters .film{
		border-right: 1px solid rgba(251,174,92,1);
	}

  .main {
  	width: auto;
  	margin: 0 auto;
  }

  /* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px; 
	}
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { 
		width: 95%; 
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}


}