
body {
	background-blend-mode: overlay;
}

html {
  overflow-y: scroll;
}

/*-- NAV -- */
.header {
	font-family: 'Montserrat', serif;
    /*display: none;*/
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 998;
    top: 0;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    color: #000;
    display: block;
    /*border-right: 1px solid #f4f4f4;*/
    padding: 20px 20px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    font-size: 15px;
}

.header li a:hover,
/*nav li a:focus,*/
.menu__checkbox:hover
/*.menu__checkbox:focus,*/
/* :focus */
{
    background-color: #f4f4f4;
}

/* menu */
.menu {
    display: none;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.title {
    text-decoration: none;
    color: #444;
    font-family: "arapey", serif;
    font-style: normal;
    font-weight: 400;
    display: block;
    top: 18px;
    left: 20px;
    position: absolute;
    float: left;
    z-index: 999;
  @media (min-width: 48em) {
    display: none;
  }
}
.menu__icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.hamburger {
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
  text-align: left;
}

.hamburger:before,
.hamburger:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .5s ease-out;
    width: 100%;
}

.hamburger:before {
    top: 8px;
}

.hamburger:after {
    top: -8px;
}

/* menu checkbox */
.menu__checkbox {
    opacity: 0;
}

.menu__checkbox:checked~.menu {
    max-height: 240px;
    display: block;
}

.menu__checkbox:focus~.menu__icon {
    outline: #5E9ED6 1px solid;
    background-color: #f4f4f4;
}

.menu__checkbox:checked~.menu__icon {
    background-color: #f4f4f4;
}

.menu__checkbox:checked~.menu__icon .hamburger {
    background: transparent;
}

.menu__checkbox:checked~.menu__icon .hamburger:before {
    transform: rotate(-225deg);
}

.menu__checkbox:checked~.menu__icon .hamburger:after {
    transform: rotate(225deg);
}

.menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:before,
.menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:after {
    top: 0;
}
.active {
  background-color: #f4f4f4;
}

/* 48em = 768px */
@media (min-width: 48em) {
	.header .title {display:none;}
    .header li {
        float: left;
    }
    .header li a {
        padding: 15px 20px;
    }
    .header .hide {
      display: inline;
    }
    .header li .hideA {
      font-size:16px;
      font-family: "Arapey", serif;
      font-weight: 400;
      padding: 14.5px 20px;
    }
    .menu {
        display: block;
        clear: none;
        max-height: none;
        padding-left: 8.8vw;
    }
    .menu__icon,
    .menu__checkbox,
    .hamburger {
        display: none;
    }
}

.header-break{
	padding-top:30px;
}

a.back-to-home {
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 20px;
	top: 20px;
	background: url("../images/arrow.png") no-repeat center 43%;
	background-size: 40px 40px;
	opacity: .8;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}	

a.back-to-home:hover {
	opacity: 0.5;
}

.container { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;	
}
 
#filters {
	font-family: 'Montserrat', serif;
	margin:1%;
	margin-left:6%;
	margin-top:5%;
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:black;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: gray;
		color:#fff;
	}

#portfoliolist {
	margin-left: 5%;
	font-family: 'Open Sans', serif;
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:350px;
	margin:1% 1% 1% 1%;
	display:none;
	float:left;
	overflow:hidden;

	position: relative !important;
	background: white;
	cursor:pointer;
}

.portfolio img {
	max-width:100%;
	position: relative;
	top:0px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
	
.portfolio img:hover {
	opacity: .7;
}

.portfolio .label {
	position: absolute;
	width: 100%;
	height:30px;
	bottom:0px;
}

.portfolio .label-bg {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 9px;
	font-size:14px;

	background: rgba(137,137,137,0.85);
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}

.portfolio .label-text2 {
	z-index:555;
	position: absolute;
	width: 100%;
	height: 25px;
	padding: 5px 12px 0px 12px;
	background: rgba(137,137,137,0.8);
	font-size:15px;
	font-style:italic;
	color:white;
	top:0px;
	left: 0px;
}

.VRAR .portfolio-wrapper {
	background: rgba(69,140,204,0.85);
}
.CREATIVE .portfolio-wrapper{
	background: rgba(96,92,168,0.85);
}
.DESIGN .portfolio-wrapper{
	background: rgba(244,152,157,0.85);
}
.ENTRE .portfolio-wrapper{
	background: rgba(251,174,92,0.85);
}
.COMP .portfolio-wrapper{
	background: rgba(237,126,118,0.85);
}
/*.FILM .portfolio-wrapper{
	background: rgba(5,168,170,0.85);
}*/
.FILM .portfolio-wrapper{
	background: rgba(251,174,92,0.85);
}

	.VRAR .label-bg{
		background: rgba(69,140,204,0.85);
	}
	.CREATIVE .label-bg{
		background: rgba(96,92,168,0.85);
	}
	.DESIGN .label-bg{
		background: rgba(244,152,157,0.85);
	}
	.ENTRE .label-bg{
		background: rgba(251,174,92,0.85);
	}
	.COMP .label-bg{
		background: rgba(237,126,118,0.85);
	}
	/*.FILM .label-bg{
		background: rgba(5,168,170,0.85);
	}*/
	.FILM .label-bg{
		background: rgba(251,174,92,0.85);
	}

	#filters .VRAR:hover {
		background: rgba(69,140,204,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .CREATIVE:hover {
		background: rgba(96,92,168,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .DESIGN:hover {
		background: rgba(244,152,157,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .ENTRE:hover {
		background: rgba(251,174,92,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	#filters .COMP:hover {
		background: rgba(237,126,118,1);
		color:#fff;
		transition: background .2s ease-in;
	}
	/*#filters .FILM:hover {
		background: rgba(5,168,170,1);
		color:#fff;
		transition: background .2s ease-in;
	}*/
	#filters .FILM:hover {
		background: rgba(251,174,92,1);
		color:#fff;
		transition: background .2s ease-in;
	}

	#filters .VRAR.active {
		background: rgba(69,140,204,1);
		color:#fff;
	}
	#filters .CREATIVE.active {
		background: rgba(96,92,168,1);
		color:#fff;
	}
	#filters .DESIGN.active {
		background: rgba(244,152,157,1);
		color:#fff;
	}
	#filters .ENTRE.active {
		background: rgba(251,174,92,1);
		color:#fff;
	}
	#filters .COMP.active {
		background: rgba(237,126,118,1);
		color:#fff;
	}
	/*#filters .FILM.active {
		background: rgba(5,168,170,1);
		color:#fff;
	}*/
	#filters .FILM.active {
		background: rgba(251,174,92,1);
		color:#fff;
	}


	#filters .selected{
		border-right: 1px solid gray;
	}
	#filters .all{
		border-right: 1px solid gray;
	}
	#filters .VRAR{
		border-right: 1px solid rgba(69,140,204,1);
	}
	#filters .CREATIVE{
		border-right: 1px solid rgba(96,92,168,1);
	}
	#filters .DESIGN{
		border-right: 1px solid rgba(244,152,157,1);
	}
	#filters .ENTRE{
		border-right: 1px solid rgba(251,174,92,1);
	}
	#filters .COMP{
		border-right: 1px solid rgba(237,126,118,1);
	}/*
	#filters .FILM{
		border-right: 1px solid rgba(5,168,170,1);
	}*/
	#filters .FILM{
		border-right: 1px solid rgba(251,174,92,1);
	}

  .main {
  	width: auto;
  	margin: 0 auto;
  }

@media only screen and (min-width: 1820px) {
	.main {
		margin-left: 17vw;
		margin-right: 17vw;
	}
}

@media only screen and (min-width: 1500px)  and (max-width: 1820px) {
	.main {
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

  /* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 1500px) {
	.main {
		margin-left: 7vw;
		margin-right: 7vw;
	}

	#portfoliolist .portfolio {
		width:28%;
		margin:1%;
	}	

}

@media only screen and (min-width: 768px) and (max-width: 1100px) {

	#filters {
		font-size: 1.4vw;
	}
	.text-title {
		font-size: 1.4vw;
	}

		#portfoliolist .portfolio {
		width:30%;
		margin:1%;
	}		
}

@media only screen and (min-width: 768px) and (max-width: 910px) {

	#filters {
		font-size: 1.2vw;
	}
	.text-title {
		font-size: 1.2vw;
	}

		#portfoliolist .portfolio {
		width:30%;
		margin:1%;
	}		
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 768px) {

	#portfoliolist .portfolio {
		width:45%;
		margin:1%;
	}		
		#filters {
		font-size: 11px;
	}
	.text-title {
		font-size: 11px;
	}		
}

@media only screen and (max-width: 430px){
	#portfoliolist .portfolio {
		width:90%;
		margin:1%;
	}			

}