/* Presentational style rules only
 * Not required
 */

html, body, .container {

}

/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

/* Basic */
body {
  color: black;
}

p {
  color: black;
  text-align: center;
}

#name {
  font-size: 75px;
  font-weight: 100;
  line-height: 2vmax;
  font-family: 'Lora';
}

#intro {
  margin-top: 5vh;
  font-size: 20px;
  font-family: 'Open Sans';
}

#scroll {
  margin-top: 7vh;
  font-size: 15px;
  font-style: italic;
  font-family: 'Open Sans';
}

#break {
  margin-top:4vh;
}


/* Layout */

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 45px;
  z-index: 9999;
  position: fixed;
  bottom: 0;
}

  .inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

.navbar a {
  display: inline-block;
  padding: 2px 8px;
  margin-top: 5px;
}

.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  padding-top: 10%;
  text-align: center;
}

/* Special */

.button {
  margin:5px;
  margin-top: 3vh;
  font-size: 20px;
  font-family: 'arapey';
  display: inline-block;
  padding: 8px 14px;
  color: black;
  border-radius:7px;
  border: 1px solid #b7e3ff;
  border-bottom: 2px solid #85d5e1;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  background: #b7e3ff ;
}

.about {
  border: 1px solid #ffd3b5;
  background: #ffd3b5;
  border-bottom: 2px solid #ff9c58;
}

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #85d5e1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.about.hvr-sweep-to-top:before{
  background: #ff9c58;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Media Queries */

@media only screen and (max-height: 900px) {
  #name {
    font-size:60px;
  }
  #intro {
    font-size:20px;
  }
  .button {
    font-size:20px;
  }
}

@media only screen and (max-height: 400px) {
  .container {
    padding-top:30px;
  }
  #name {
    font-size:40px;
  }
  #intro {
    font-size:15px;
  }
  .button {
    font-size:15px;
  }
}

@media only screen and (max-width: 500px) {
  #name {
    font-size:40px;
  }
  #intro {
    font-size:15px;
  }
  #scroll {
    font-size:12px;
  }
  .button {
  font-size:15px;
  }
}
