html {
height:100%;
}
body {
height:100%;
}

#main_outer {
  background-image: url(images/bg-tmw.jpg);
  background-position: 80% 100%;
  background-repeat: no-repeat;
  height:100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: #eff0f6;
}
@media only screen and (max-width: 500px) {
  #main_outer {
    background-position: 74% 0%;
  }
}

#main_inner {
  background-image: url(images/bg-me.png);
  background-position: 10% bottom, bottom right;
  background-repeat: no-repeat;
  height:100%;
  background-attachment: scroll;
  background-size: 250px,cover;
}
@media only screen and (max-width: 1200px) {
  #main_inner {
    background-size: 150px,cover;
    background-position: 10% bottom, 80% bottom;
  }
}
@media only screen and (max-width: 800px) {
  #main_inner {
    background-size: 120px,cover;
    background-position: 10%  70% bottom;
  }
}

#title {
  padding:2%;
  text-align: center;
  font-size: 40px;
  font-family: 'Lora', serif;
}

.works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-family: 'Open Sans';
  width:100%;
}

.work {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  margin-bottom:2%;
  padding: 1%;
}
.work img{
  width:33vw;
  min-width:360px;
  max-width:550px;
  height:auto;
}
.work .details{
  margin: 1%;
  width:33vw;
  min-width:360px;
  max-width:550px;
  display: flex;
  flex-direction: column;
}
.work .details #work_title {
  font-family: 'Lora', serif;
  margin: 1%;
  margin-top:0%;
  font-size: 32px;
}
.work .details p {
  margin: 1%;
  text-align: left;
  font-size: 20px;
}
.work .details #medium {
  font-style: italic;
  font-size:18px;
}
.work .details #from {
  font-size:18px;
}
.work .details #award {
  font-style: italic;
  font-size:18px;
}
.work .details #align_bottom {
  /*height: 100%;
  margin-top:3%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;*/
}
@media only screen and (max-width: 700px) {
  .works {
  flex-flow: column;
  align-items: center;
  justify-content: center;
  }
  .work {
  flex-direction: column;
  max-width:550px;
  }
  .work img {
  width: 100%;
  padding: 0%;
  }
  .work .details{
  padding: 0%;
  padding-top: 1%;
  width:100vw;
  }
}

@media only screen and (max-height: 1200px) {
  #title {font-size:25px;}
  .work .details #work_title { font-size:25px; margin-bottom:0px;}
  .work .details p { font-size:15px; }
  .work .details #medium { font-size:12px; margin-top:0px;}
  .work .details #from { font-size:12px; margin-bottom:0px;}
  .work .details #award { font-size:12px; margin-top:0px;}
}
@media only screen and (max-height: 1030px) {
  #title {font-size:25px;}
  .work .details #work_title { font-size:20px; margin-bottom:0px;}
  .work .details p { font-size:16px;}
  .work .details #medium { font-size:14px; margin-top:0px;}
  .work .details #from { font-size:14px; margin-bottom:0px;}
  .work .details #award { font-size:14px; margin-top:0px;}
}
